.searchable_container {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}
.searchable_container > input {
  flex: 1;
  padding: 15px;
  border-radius: 5px;
  color: #fff;
  background-color: transparent;
  border: 2px solid rgb(114, 114, 114);
}
.searchable_container > button {
  width: 80px;
  border-radius: 5px;
  border: none;
  color: #fff;
  background-color: rgb(114, 114, 114);
  color: white;
  cursor: pointer;
}
